@import "tailwindcss";

@plugin "@tailwindcss/typography";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #fbcc04; /* drop shadow */
  --secondary: #fbcc05; /* gradient bottom */
  --gradient-top: #f3dd7d; /* gradient top */
  --footer-link: #949492; /* footer link */
  --footer-bg: #1a1918; /* footer link */
  --text-gradient-left: #ffc800; /* text gradient left */
  --text-gradient-right: #fffefe; /* text gradient right */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-footerText: var(--footer-link);
  --color-footerBg: var(--footer-bg);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .padding {
    @apply px-6 py-[40px] md:px-[64px] lg:px-[80px] md:py-[70px];
  }

  /* text bg gradient */
  .text-gradient {
    @apply bg-linear-to-r from-[var(--text-gradient-left)]/80 via-[var(--secondary)]/70 to-[var(--text-gradient-right)] bg-clip-text text-transparent;
  }

  /* card bg gradient */
  .bg-gradient {
    @apply bg-linear-to-b from-[#141414] via-[#181818] to-[#1e1e1e];
  }

  .bg-gradientCard {
    @apply bg-linear-to-l from-[#141414] via-[#181818] to-[#2f2f2f];
  }

  .bg-gradient2 {
    @apply bg-linear-to-b from-[var(--primary)] via-[var(--primary)] to-[var(--gradient-top)];
  }

  .custom-drop-shadow {
    @apply drop-shadow-[0_0_0.5rem_var(--primary)];
  }

  .border-linear-gradient {
    @apply bg-linear-to-t from-[var(--text-gradient-left)] to-[var(--primary)]/60;
  }

  .box-shadow-gradient {
    @apply shadow-[inset_0_20px_50px_0px_#F3DD7D,inset_0_50px_50px_20px_#FBCC04];
  }

  .box-shadow-gradient2 {
    @apply shadow-[inset_0_10px_20px_0px_#F3DD7D,inset_0_70px_70px_20px_#FBCC04];
  }

  .custom-shadow {
    @apply shadow-[0px_0px_60px_-18px_var(--primary)];
  }
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.slick-slide > div {
  margin: 0 10px !important;
}

.aspire-set .slick-list {
  height: 620px !important;
}

@media screen and (max-width: 768px) {
  .aspire-set .slick-list {
    height: 380px !important;
  }

  .spotlight .slick-list {
    height: 300px !important;
  }
}

.spotlight .slick-slide > div {
  margin: 8px !important;
}

.spotlight .slick-list {
  height: 500px !important;
}
